<div class="container">
    <h1>{{ 'PLAYERS.TITLE' | translate }}</h1>
    <p class="show-after-animation" *ngIf="players().length === 0">{{ 'PLAYERS.NO_PLAYERS' | translate }}</p>

    <!-- Use simple list for now, sortable later with cdkDropList -->
    <div class="list-group">
        <div class="list-group-item" *ngFor="let player of players()">
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-default"><i class="fa fa-sort"></i></a>
                </span>
                <input type="text" class="form-control" [placeholder]="'PLAYERS.PLACEHOLDER' | translate"
                    [(ngModel)]="player.name" (change)="updatePlayer(player)">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="removePlayer(player)">
                        <span [title]="'PLAYERS.REMOVE_TOOLTIP' | translate"><i class="fa fa-trash-o"></i></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <h2>{{ 'PLAYERS.ADD_TITLE' | translate }}</h2>
    <form (ngSubmit)="addPlayer()">
        <div class="input-group">
            <input type="text" class="form-control" [placeholder]="'PLAYERS.PLACEHOLDER' | translate" required
                [(ngModel)]="newPlayerName" name="newPlayerName">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span [title]="'PLAYERS.ADD_TITLE' | translate"><i class="fa fa-plus"></i></span>
                </button>
            </span>
        </div>
    </form>
</div>