$sansFontFamily: 'Roboto', sans-serif;
$navbar-inverse-bg: rgba(0, 0, 0, .8);
$navbar-inverse-link-hover-color: #fff;
$navbar-inverse-color: #9d9d9d;
$header-margin-bottom: 20px;
$brand-primary: #0d6efd;
$gray-light: #777;
$gray: #333;
$text-color: #333;