@import 'bootstrap/scss/bootstrap';
@import 'variables';

// Typography
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular');
}

body {
    font-family: $sansFontFamily;
}

code,
pre,
.pre {
    padding: 5px;
    margin: 10px 0;
    background-color: #EFEFEF;
    border: 1px solid #DADADA;
    border-radius: 3px;
}

code {
    padding: 0 3px;
}

pre {
    margin: 10px 0;
    padding: 5px;
}

.page-header {
    margin-top: 60px;

    &:first-child {
        margin-top: 20px;
    }
}

h2 {
    margin: 20px 0;
    color: #666;
}

// Navigation
// We use navbar-dark bg-dark in HTML but we can override or enhance here
header {
    background-color: $navbar-inverse-bg;
    margin-bottom: $header-margin-bottom;
}

.navbar {
    margin-bottom: 0;

    // Custom tweaks if needed for font-awesome icons size/padding
    .nav-link {
        i {
            margin-right: 5px;
        }
    }
}

// Footer
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* Ensure wrapper takes full height */
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto; // Sticky footer trick with flex column on wrapper
    background-color: #f5f5f5; // default light gray

    .footer-inner {
        padding: 40px 0;
        border-top: 1px solid #DDD;
    }

    .text-muted {
        margin: 20px 0;
    }
}

.toolbar-right {
    float: right;
}