.hero {
  background: linear-gradient(135deg, darken(#428bca, 10%) 0%, #428bca 100%);
  color: white;
  padding: 60px 0;
  margin-bottom: 40px;
  margin-top: -$header-margin-bottom;
  position: relative;
  text-align: center;
}

.jumbotron {
  background-color: transparent;
  color: inherit;
  padding: 0;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
    margin: 0 auto 1.5em auto;
    max-width: 800px
  }

  .social-buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  h4 [class*=" icon-"],
  h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}