<div class="hero">
    <div class="container">
        <div class="jumbotron">
            <h1>{{ 'HOME.TITLE' | translate }}</h1>
            <p class="lead">
                {{ 'HOME.INTRO' | translate }}
            </p>

            <div class="btn-group btn-group-lg" role="group">
                <a routerLink="/players" class="btn btn-large btn-default">
                    <i class="fa fa-user"></i>
                    <span>{{ 'HOME.ADD_PLAYERS' | translate }}</span>
                </a>
                <a routerLink="/scores" class="btn btn-large btn-success">
                    <i class="fa fa-pencil-square-o"></i>
                    <span>{{ 'HOME.TRACK_SCORES' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-thumbs-up"></i> <span>{{ 'HOME.FEATURE1_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE1_DESC' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-history"></i> <span>{{ 'HOME.FEATURE2_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE2_DESC' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-envelope-o"></i> <span>{{ 'HOME.FEATURE3_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE3_DESC' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-mobile-phone"></i> <span>{{ 'HOME.FEATURE4_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE4_DESC' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-plane"></i> <span>{{ 'HOME.FEATURE5_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE5_DESC' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-card">
                    <h4><i class="fa fa-gift"></i> <span>{{ 'HOME.FEATURE6_TITLE' | translate }}</span></h4>
                    <p>
                        {{ 'HOME.FEATURE6_DESC' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>